<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/cart.png" alt="">
  </div>
  <div class="headings">
    <h2>Departmental Stores</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/smoothies" class="btn">View Products</a>
  </div>
</header>


<%- include('partials/footer'); -%>